/* Search Input */
#inputStops {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
#inputStops input {
    width: 50vw;
    min-width: 30rem;
    height: 1.8rem;
    padding: 10px;
    background-color: rgb(50, 50, 50);
    border: 2px solid rgb(150, 150, 150);
    border-radius: 10px;
    outline: none;
    text-align: center;
    font-weight: 600;
    font-size: 17px;
    color: white;
}
#inputStops input.searchActive {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* Lines Container */
#searchResults {
    display: none;
    position: absolute;
    margin-top: 50px;
    background-color: rgb(50, 50, 50);
    width: 50vw;
    max-height: 15rem;
    overflow: auto;
    padding: 10px;
    border: 2px solid rgb(150, 150, 150);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 9999;
}
#searchResults .item {
    text-decoration: none;
    width: calc(100% - 20px); /* Full width - sides gap (10px * 2) */
    background-color: rgb(75, 75, 75);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: .3s;
}
#searchResults .item:hover {
    opacity: .5;
}
#searchResults .item:not(:last-child) {
    margin-bottom: 10px;
}
#searchResults .item .stopID {
    padding: 5px 15px;
    border-radius: 50px;
    background-color: rgb(100, 100, 100);
}
#searchResults .item .stopName {
  text-align: left;
}

/* Content - Map / Stop Arrivals */
#content {
    margin-top: 2rem;
    display: flex;
    width: 100vw;
    height: calc(100vh - 5rem - 5rem - 4rem); /* Full height - Top Bar (5rem) - Search Height (5rem) - 2rem gaps (top + bottom) * 2 */
    justify-content: space-evenly;
}
#content #map {
    width: calc(50% - 4rem);
    border-radius: 15px;
}
#content #stopContainer {
    position: relative;
    width: calc(30rem - 20px);
    height: calc(100% - 20px);
    padding: 10px;
    border: 2px solid rgb(75, 75, 75);
    border-radius: 15px;
    overflow: auto;
}
#content #stopContainer #msgError {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 800;
    font-size: 22px;
    width: max-content;
    color: rgb(75, 75, 75);
}

/* Stop Information */
#stopContainer #stopInformation {
    text-align: center;
    color: white;
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(75, 75, 75);
}
#stopContainer #stopInformation #stopName {
    font-weight: 600;
    font-size: 20px;
}
#stopContainer #stopInformation #stopID {
    padding: 5px 10px;
    background-color: rgb(50, 50, 50);
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}
#stopContainer #stopInformation #stopID:hover {
    opacity: .5;
}
#stopContainer #stopInformation #stopActions {
    display: flex;
    gap: 10px;
}
#stopContainer #stopInformation #stopActions i {
    color: rgb(200, 200, 200);
    font: 25px;
    cursor: pointer;
}
#stopContainer #stopInformation #stopLines {
    width: 90%;
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 7.5rem;
    overflow-y: auto;
}
#stopContainer #stopInformation #stopLines .line {
    padding: 5px 10px;
    border-radius: 25px;
    width: 3rem;
    font-weight: 600;
    color: whitesmoke;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

/* Next Arrivals Container */
#stopContainer #stopArrivals {
    overflow: auto;
}
#EOD_Text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(75, 75, 75);
    font-weight: 800;
    font-size: 25px;
}
#stopContainer #stopArrivals #fullPastTrips {
    text-align: center;
    color: rgb(100, 100, 100);
    font-weight: 600;
    padding: 5px 0 0 0;
    cursor: pointer;
}
#stopContainer #stopArrivals .arrivalTime {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    background-color: rgb(25, 25, 25);
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}
#stopContainer #stopArrivals .arrivalInfo {
    display: flex;
    gap: 10px;
    align-items: center;
}
#stopContainer #stopArrivals .arrivalTime.active {
    background-color: rgb(15, 15, 15);
    /* opacity: .5; */
}
#stopContainer #stopArrivals .arrivalTime.concluded {
    opacity: .3;
}
#stopContainer #stopArrivals .arrivalTime .arrivalInfo .lineNumber {
    padding: 5px 10px;
    border-radius: 25px;
    width: 3rem;
    font-weight: 600;
    color: whitesmoke;
    text-align: center;
    background-color: rgb(50, 50, 50); /* FOR TESTING */
}
#stopContainer #stopArrivals .arrivalTime .arrivalInfo .lineName {
    color: whitesmoke;
    font-weight: 500;
    font-size: 17px;
    max-width: 55%;
}
#futureTrips {
    display: flex;
    flex-direction: column;
}
/* Current Time Marker - Divider between past and future trips */
#stopContainer #stopArrivals #currentTimeMarker {
    display: none;
    position: relative;
    height: 3px;
    width: 100%;
    background-color: rgb(212, 21, 21);
    margin: 20px 0;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    color: whitesmoke;
}
#stopContainer #stopArrivals #currentTimeMarker_text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 19px;
    width: 40px;
    border-radius: 50px;
    padding: 0 5px;
    text-align: center;
    background-color: rgb(212, 21, 21);
}
/* Arriving Time */
#stopContainer #stopArrivals .arrivingTime {
    position: absolute;
    right: calc(1rem + 15px); /* Right + Main Padding (15px) */
    font-weight: 600;
    color: whitesmoke;
    font-size: 16px;
}
#stopContainer #stopArrivals .arrivingTime .delayTime {
    font-size: 12px;
    color: rgb(150, 150, 150);
    /* font-weight: 600; */
}
#stopContainer #stopArrivals .arrivingTime .delay_1 {
    color: rgb(197, 216, 27);
}
#stopContainer #stopArrivals .arrivingTime .delay_2 {
    color: rgb(216, 33, 27);
}

/* Real Time Icon / Text */
.realTimeIcon {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    color: #00cd32;
    font-size: 16px;
    font-weight: 600;
}
.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: relative;
}
.dot.delay_0 {
    background-color: #00ff60;
}

.dot.delay_1 {
    background-color: rgb(197, 216, 27);
}

.dot.delay_2 {
    background-color: rgb(216, 33, 27);
}
.dot::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: pulse 1.5s infinite;
    opacity: 0.5;
}
.dot.delay_0::before {
    background-color: #00ff60;
}

.dot.delay_1::before {
    background-color: rgb(197, 216, 27);
}

.dot.delay_2::before {
    background-color: rgb(216, 33, 27);
}
@keyframes pulse {
    0% { transform: translate(-50%, -50%) scale(1); opacity: 0.5; }
    100% { transform: translate(-50%, -50%) scale(3); opacity: 0; }
}

/* Extra Info */
#stopContainer #stopArrivals .extraInfo {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#stopContainer #stopArrivals .extraInfo p {
    background-color: rgb(25, 25, 25);
    border: 2px solid rgb(75, 75, 75);
    width: fit-content;
    border-radius: 50px;
    padding: 5px 10px;
    color: whitesmoke;
    font-weight: 500;
    font-size: 13px;
}
#stopContainer #stopArrivals .extraInfo a {
    color: rgb(150, 150, 150);
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
}

/* Picture in Picture */
.pipTitle {
    padding: 10px 0;
    color: whitesmoke;
}
.pipArrivalTime {
    position: relative;
    padding: 10px;
    display: flex;
    width: calc(400px - 15px);
    align-items: center;
    gap: 10px;
    color: whitesmoke;
    font-weight: 500;
    font-size: 15px;
    background-color: rgb(50, 50, 50);
    border-radius: 5px;
}
.pipArrivalTime.realTime {
    color: #00cd32;
}
.pipArrivalTime:not(:last-child) {
    margin-bottom: 10px;
}
.pipArrivalTime .lineNumber {
    padding: 5px 10px;
    border-radius: 25px;
    width: 3rem;
    font-weight: 600;
    color: whitesmoke;
    text-align: center;
}
.pipArrivalTime .lineName {
    color: whitesmoke;
    font-weight: 500;
    font-size: 15px;
    max-width: 70%;
}
.pipArrivalTime .arrivingTime {
    display: flex;
    position: absolute;
    right: 10px;
}

/* Responsive */
@media only screen and (max-width: 650px) {
    /* Stop Input */
    #inputStops {
        margin-top: 1.5rem;
    }
    #inputStops input {
        width: 75vw;
        min-width: 0;
        font-size: 14px;
        padding: 5px;
    }
    #searchResults {
        margin-top: 41px;
        width: calc(75vw - 10px);
        max-height: 10rem;
    }
    #searchResults .item {
        font-size: 14px;
    }

    #content {
        flex-direction: column;
        width: 90vw;
        margin-left: 5vw;
        height: calc(100vh - 7rem - 4rem);
        margin-top: 1rem;
    }
    #content #map {
        margin-bottom: 15px;
        height: calc(50vh - 15px);
        width: calc(90vw);
    }
    #content #stopContainer {
        height: calc(100% - 1rem);
        width: calc(100% - 23px);
    }

    /* Stop Information */
    #stopContainer #stopInformation {
        gap: 10px;
    }
    #stopContainer #stopInformation #stopName {
        font-size: 18px;
    }
    #stopContainer #stopInformation #stopID {
        font-size: 14px;
    }
    #stopContainer #stopInformation #stopActions {
        display: none;
    }
    #stopContainer #stopInformation #stopLines.line {
        padding: 3px 7px;
        font-size: 14px;
    }
}