body {
    overflow: auto;
}

/* Top Line Information */
#topInformation {
    position: sticky;
    top: 0;
    padding: 1rem 0;
    /* margin-top: 1rem; */
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    font-size: 20px;
    color: whitesmoke;
    background-color: rgb(20, 20, 20);
    z-index: 9999;
}
#topInformation a {
    margin-left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgb(50, 50, 50);
    border-radius: 50px;
    color: whitesmoke;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}
#topInformation a:hover {
    opacity: .5;
}
#topInformation #lineNumber {
    margin-left: 1rem;
    padding: 5px 15px;
    border-radius: 50px;
    background-color: rgb(128, 0, 0);
}
#topInformation i {
    color: rgb(200, 200, 200);
    cursor: pointer;
    transition: .3s;
}
#topInformation i:active {
    scale: .9;
}

/* Line Parameters */
#lineParameters {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 3rem;
}

#lineParameters #patternSelect, #lineParameters #dateSelect {
    display: flex;
    flex-direction: column;
}

#lineParameters .selectMenu {
    width: 35rem;
    padding: 10px;
    background-color: rgb(50, 50, 50);
    border: 2px solid rgb(75, 75, 75);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
#lineParameters .selectOptions {
    display: none;
    position: absolute;
    margin-top: 43px;
    max-height: 10rem;
    overflow: auto;
    width: 35rem;
    padding: 10px;
    background-color: rgb(50, 50, 50);
    border: 2px solid rgb(75, 75, 75);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    z-index: 9999;
}
#lineParameters #pattern_selectOptions .newRoute {
    color: rgb(150, 150, 150);
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0 5px 5px;
}
#lineParameters #pattern_selectOptions .newPattern {
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
#lineParameters #pattern_selectOptions .newPattern:hover {
    background-color: rgb(35, 35, 35);
}
#lineParameters #pattern_selectOptions .newPattern.active {
    background-color: rgb(100, 100, 100);
    cursor: default;
}

/* Custom Select Menus */
.selectMenu:not(.open) {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.selectMenu.open {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.selectMenu i {
    transition: .3s;
}
.selectMenu.open i {
    transform: rotate(180deg);
}

#lineParameters #date_input {
    /* display: none; */
    margin-top: -2px;
    width: 8rem;
    padding: 10px;
    background-color: rgb(50, 50, 50);
    border: 2px solid rgb(75, 75, 75);
    border-radius: 10px;
    font-size: 16px;
    color: white;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
    scale: 1.25
}

/* Stops List */
#lineStops {
    display: flex;
    gap: 1rem;
    margin: 3rem 0 2rem 10rem;
}
#lineStops #stopsBorder {
    width: 20px;
    border-radius: 50px;
}
#lineStops #stopsContainer .newStop {
    position: relative;
}
#lineStops #stopsContainer .newStop .busIcon {
    position: absolute;
    top: -3px;
    left: -2.6rem;
    background-color: rgb(200, 200, 200);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 50px;
}
#lineStops #stopsContainer .newStop:not(:last-child) {
    margin: 5px 0 15px 0;
}
#lineStops #stopsContainer .newStop:last-child {
    margin-bottom: 10px;
}
#lineStops #stopsContainer .newStop:before {
    content: "•";
    position: absolute;
    margin-left: -1.85rem;
    scale: 2;
    color: white;
    transition: 0.3s;
}
#lineStops #stopsContainer .newStop:hover:before {
    scale: 2.5;
}
#lineStops #stopsContainer .newStop .stopName {
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}
#lineStops #stopsContainer .newStop .stopName i {
    padding: 0 0 0 10px;
    color: rgb(200, 200, 200);
}

.popupStop {
    font-size: 11px;
}

/* Next arrivals */
#lineStops #stopsContainer .newStop .arrivalTimes {
    font-weight: 600;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 5px;
    max-width: 90vw;
    flex-wrap: wrap;
}
#lineStops #stopsContainer .newStop .arrivalTimes .realTime {
    color: rgb(0, 205, 50);
}
#lineStops #stopsContainer .newStop .arrivalTimes p {
    font-weight: 600;
}
#lineStops #stopsContainer .newStop .arrivalTimesMetro {
    font-weight: 600;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 5px 5px;
    max-width: 90vw;
    flex-wrap: wrap;
}
#lineStops #stopsContainer .newStop .arrivalTimesMetro .metroDirection {
    margin-right: 10px;
}
#lineStops #stopsContainer .newStop .arrivalTimesMetro .metroTime {
    font-size: 12px;
}
#lineStops #stopsContainer .newStop .arrivalTimesMetro .metroTimeLine {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    gap: 5px;
}

/* Time Table */
#lineStops #stopsContainer .newStop .scheduleTitle, #lineStops #stopsContainer .newStop .arrivalTimesTitle {
    margin: 10px 0 10px 15px;
    color: rgb(150, 150, 150);
    font-size: 14px;
    font-weight: 500;
}
#lineStops #stopsContainer .newStop .stopDetails {
    text-decoration: none;
    color: rgb(150, 150, 150);
    font-size: 14px;
    font-weight: 500;
    margin-left: 15px;
}
#lineStops #stopsContainer .newStop .timeTable {
    color: whitesmoke;
    display: flex;
    row-gap: 20px;
    font-size: 14px;
    background-color: rgb(50, 50, 50);
    padding: 10px;
    border-radius: 15px;
    width: fit-content;
    margin-bottom: 5px;
    flex-wrap: wrap;
    max-width: calc(60vw - 75px - 13rem); /* Max Width to limit the schedule to go over the map */
}
#lineStops #stopsContainer .newStop .timeTable ul {
  display: flex;
  flex-direction: column;
}
#lineStops #stopsContainer .newStop .timeTable ul li {
  list-style: none;
  padding: 4px 5px;
  text-align: center;
  transition: 0.3s;
}
#lineStops #stopsContainer .newStop .timeTable ul li.marked {
    color: rgb(235, 235, 29);
}
#lineStops #stopsContainer .newStop .timeTable ul li:not(:first-child):hover {
    opacity: .5;
}
#lineStops #stopsContainer .newStop .timeTable ul li:first-child {
  background-color: rgb(75, 75, 75);
  color: whitesmoke;
  font-weight: 500;
}
#lineStops #stopsContainer .newStop .timeTable ul:first-child li:first-child {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
#lineStops #stopsContainer .newStop .timeTable ul:last-child li:first-child {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
#lineStops #stopsContainer .newStop .timeTable ul:first-child li {
  padding-left: 15px;
}
#lineStops #stopsContainer .newStop .timeTable ul:last-child li {
    padding-right: 15px;
}

/* Map */
#map {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    height: 50vh;
    width: 40vw;
    border-radius: 15px;
}

/* PIP Styling */
.pipTitle {
    color: whitesmoke;
    text-align: center;
    margin-top: 5px;
}
.pipStopsContainer {
    display: flex;
    width: 95%;
    margin-top: 15px;
    justify-content: space-evenly;
}
.pipArrivalTime {
    background-color: rgb(50, 50, 50);
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 600;
}
.pipArrivalTime.realTime {
    color: rgb(0, 205, 50);
}

/* Responsive */
@media only screen and (max-width: 800px) {
    /* Top Information */
    #topInformation {
        font-size: 14px;
        gap: 10px;
        width: 95vw;
    }
    #topInformation a {
        min-width: 35px;
        max-height: 35px;
        display: flex;
        align-items: center;
    }
    #topInformation i {
        font-size: 16px;
    }
    #topInformation #lineNumber {
        margin-left: 10px;
    }
    #topInformation #lineName {
        width: calc(100vw - 2rem - 2.5rem - 3rem);
    }
    #notificationsIcon, #pipIcon {
        display: none;
    }

    /* Line Parameters */
    #lineParameters {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 1rem;
        gap: 10px;
    }
    #lineParameters .selectMenu {
        width: calc(90vw - 2rem - 20px);
        font-size: 14px;
    }
    #lineParameters #date_input {
        font-size: 14px;
        outline: none;
        text-align: center;
    }
    #lineParameters .selectOptions {
        width: calc(90vw - 2rem - 20px);
        margin-top: 40px;
        max-height: 10rem;
    }
    #lineParameters #pattern_selectOptions .newRoute {
        font-size: 12px;
    }
    #lineParameters #pattern_selectOptions .newPattern {
        font-size: 14px;
    }

    /* Stops List */
    #lineStops {
        margin: 2rem 0 2rem 1.5rem;
    }
    #lineStops #stopsContainer .newStop .busIcon {
        top: -5px;
    }
    #lineStops #stopsContainer .newStop .stopName {
        font-size: 14px;
        max-width: calc(100vw - 3rem - 20px - 3rem);
    }
    #lineStops #stopsContainer .newStop:before {
        margin-top: -3px;
        margin-left: -1.83rem;
    }
    #lineStops #stopsContainer .newStop .timeTable {
        font-size: 12px;
        max-width: calc(100vw - 3rem - 25px - 3rem);
        padding: 5px;
        flex-wrap: wrap;
    }
    #lineStops #stopsContainer .newStop .arrivalTimes {
        font-size: 14px;
    }

    /* Map */
    #mapContainer {
        position: sticky;
        top: calc(5rem - 15px);
        padding: 1px 0 5px 0;
        background-color: rgb(20, 20, 20);
        z-index: 90;
    }
    #map {
        position: sticky;
        width: calc(100vw - 50px);
        height: 20vh;
        margin: 1rem 0 .3rem 25px;
        bottom: auto;
        right: auto;
        z-index: 90;
    }
}
